#user-panel {
	width: calc(100%/4.3);
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

}

#user-info {
	padding: 10px;
	width: 100%;
	height: 15%;
	white-space: nowrap;
}

#userpic {
	display: inline-block;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color: lightgrey;
	vertical-align: middle;
}

#usertag {
	font-weight: bold;
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
}

#owned-rooms {
	width: 100%;
	height: 70%;
	padding: 15px;
	background-color: rgba(36, 59, 85, 0.5);
	border-radius: 5px;
	overflow: auto;
	display: flex;
	flex-flow: column nowrap;
}

.owned-room {
	width: 100%;
	min-height: 25%;
	margin: 5px 0;
	border: 1.5px solid rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	transition: .25s;
	display: flex;
	flex-flow: rom nowrap;
	justify-content: space-evenly;
	align-items: center;
}

.owned-room:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.owned-room .room-name {
	margin: 0;
    display: inline-block;
}

/* Buttons */
#logout-form {
	display: inline-block;
}
button {
	height: 20px;
	width: 20px;
	background: rgba(255, 255, 255, 0.01);
	color: #03E9F4;
	font-size: 12px;
	text-align:center;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: .25s;
    border: 1px solid white;
    border-radius: 5px;
}

button:hover {
	background: #03E9F4;
	color: #F1EEE6;
	box-shadow: 0 0 0.1px #03E9F4,
				0 0 0.5px #03E9F4,
				0 0 1px #03E9F4,
				0 0 2.5px #03E9F4;
}

button.delete-room-button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: auto;
	width: auto;
}

#create-room-form {
    margin: 0;
    height: 60px;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}

#create-room-form input#create-room-input {
    height: 100%;
    width: 100%;
    margin-right: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.03);
    outline: none;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    padding: 0 10px;
    font-size: 18px;
    color: white;
}

#create-room-form button#create-room-button {
    height: 100%;
    width: 40px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.03);
    color: #03E9F4;
    font-size: 12px;
    text-align:center;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: .25s;
	border: 1.5px solid rgba(255, 255, 255, 0.5);
}

#create-room-form button#create-room-button:hover {
	background: #03E9F4;
	color: #F1EEE6;
	box-shadow: 0 0 0.1px #03E9F4,
				0 0 0.5px #03E9F4,
				0 0 1px #03E9F4,
				0 0 2.5px #03E9F4;
}